* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(228, 228, 228);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#title {
    color: rgb(49, 3, 0);
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.main-container {
    margin-top: 23px;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: rgb(240, 240, 240);
    border: rgb(49, 3, 0) solid 2px;
}

footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    background-color: rgb(214, 214, 214);
    font-size: 13px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: rgb(14, 11, 11);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: rgb(14, 11, 11);
}

.bold {
    color: rgb(14, 11, 11);
    font-weight: bold;
}

footer {
    display: flex;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(94, 94, 94);
}